<form action="" method="post">
    <input type="hidden" name="csrfToken" value="{{ csrf_token('password_reset_request') }}"/>
    <input type="hidden" name="_method" value="PATCH"/>

    <input type="text" class="form-control border-input border-right-0 mb-3 rounded-0" id="username"
           name="usernameOrEmail" placeholder="{{ 'user.username' | trans }} or {{ 'user.email_address' | trans }}"
           aria-label="email" aria-describedby="email" required="required"
    />

    <input class="btn btn-primary border-0 form-control rounded-0 text-white" type="submit"
           name="submit"
           value="{{ 'user.send_email'|trans }}"
    />
</form>
