<form action="" method="post" class="col p-0 my-3">
    <input type="hidden" name="csrfToken" value="{{ csrf_token('password_reset_request') }}"/>

    <div class="form-group">
        <input type="text" class="form-control border-input mb-3 rounded-0" id="username"
               name="usernameOrEmail" placeholder="{{ 'user.username_or_email_address'|trans }}"
               aria-label="email" aria-describedby="email" required="required"
        />
    </div>

    <div class="form-group">
        <input class="btn btn-primary border-0 form-control rounded-0 text-white" type="submit"
               name="submit"
               value="{{ 'user.send_email'|trans }}"
        />
    </div>
</form>
