<p>Hey {{ user.username }}!</p>
<p>
    Click <a href="{{ url('password_reset', {'token' : user.passwordResetToken}) }}">here</a> to reset your
    password.
    (This link will expire in {{ passwordResetTokenLifetimeInMinutes }} minutes)
</p>
