# To get started with security, check out the documentation:
# https://symfony.com/doc/current/security.html
security:
  encoders:
    AppBundle\Entity\User:
      algorithm: bcrypt

  # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
  providers:
    in_memory:
      memory: ~
    appbundle:
      id: AppBundle\Service\UserProvider

  firewalls:
    # disables authentication for assets and the profiler, adapt it according to your needs
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    main:
      anonymous: ~
      guard:
        authenticators:
        - app.security.login_form_authenticator
      logout:
        path: /logout
        target: /
      remember_me:
        secret: '%secret%'

  access_control:
  - { path: /$, role: IS_AUTHENTICATED_ANONYMOUSLY }
  - { path: ^/account, role: ROLE_USER }
