<p>Hey {{ user.username }}!</p>
<p>
    A registration attempt with your email address has been detected but you already have an account.
    You can activate your account by clicking
    <a href="{{ url('account_activation_confirm', {'token' : user.accountActivationToken}) }}">here</a>.
</p>
