{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-danger mb-3 p-1 text-center d-none" id="login-error-alert"></div>

    {% include 'flash-message-template.html.twig' with {
        'alertId': 'login-flash-success',
        'alertStyle': 'success',
        'alertType': 'login-flash-success',
        'textAlign': 'center'
    } %}

    {% include ':Form/User:login.html.twig' %}
{% endblock %}
