{% extends 'base.html.twig' %}

{% block body %}
    <h1>My Account</h1>
    {{ render(controller('AppBundle\\Controller\\User\\ManageAccountController::accountInformationFormAction')) }}
{% endblock %}
