{% extends 'base.html.twig' %}

{% block body %}
    {% include ':FlashAlert:flash-alert.html.twig' with {
        'alertType': 'password-reset-error',
        'alertStyle': 'danger',
        'textAlign': 'center'
    } %}
    {% include ':FlashAlert:flash-alert.html.twig' with {
        'alertType': 'password-reset-request-success',
        'alertStyle': 'success',
        'textAlign': 'center'
    } %}

    <div class="row">
        <h1 class="col">Password Reset</h1>
    </div>

    <div class="row mb-3">
        <div class="col">
            <a href="{{ path('home') }}">Homepage</a>
        </div>
    </div>

    {% include ':Form/User:password-reset-request.html.twig' %}
{% endblock %}
