{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('password-strength-meter') }}
{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col">Password Reset</h1>
    </div>

    {% include ':Form/User:password-reset.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('password-strength-meter') }}
{% endblock %}
