$weak: red;
$average: orange;
$good: green;

.password-strength-meter, ::-webkit-meter-bar {
  appearance: none;
  width: 100%;
  height: 0.5em;
  background: none, #ced4da;
  margin: 0 auto 1em;
}

.password-strength-meter[value="1"]::-webkit-meter-optimum-value {
  background: $weak;
}

.password-strength-meter[value="2"]::-webkit-meter-optimum-value {
  background: $average;
}

.password-strength-meter[value="3"]::-webkit-meter-optimum-value {
  background: $good;
}

.password-strength-meter[value="1"]::-moz-meter-bar {
  background: $weak;
}

.password-strength-meter[value="2"]::-moz-meter-bar {
  background: $average;
}

.password-strength-meter[value="3"]::-moz-meter-bar {
  background: $good;
}
