<form action="{{ path('account_activation_activate') }}" method="post" id="form-button-account-activation-activate">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('account_activation_activate') }}" id="csrf-token"/>
    <input
            type="hidden" name="account_activation_token" value="{{ user.accountActivationToken }}"
            id="account-activation-token"
    />
    <input
            class="btn btn-primary border-0 form-control rounded-0 text-white" type="submit" id="_submit"
            name="_submit"
            value="{{ 'user.activate_my_account'|trans }}"
    />
</form>
