<form action="{{ path('account_deletion_request') }}" method="post" id="form-button-account-deletion-request">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('account_deletion_request') }}" id="csrf-token"/>
    <input
            class="btn btn-danger border-0 form-control rounded-0 text-white" type="submit" id="_submit"
            name="_submit"
            value="{{ 'user.send_me_deletion_link'|trans }}"
    />
</form>
