<form
        action="{{ path('email_change_cancel') }}" method="post" id="form-button-email-change-cancel"
        class="mr-2"
>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('email_change_cancel') }}" id="csrf-token"/>
    <input
            type="hidden" name="email_change_token" value="{{ user.emailChangeToken }}"
            id="email-change-token"
    />
    <input
            class="btn btn-secondary border-0 form-control rounded-0 text-white" type="submit" id="_submit"
            name="_submit"
            value="{{ 'global.form.cancel'|trans }}"
    />
</form>
