<p>Hey {{ user.username }}!</p>
<p>
    A registration attempt with your email address has been detected but you already have an account.
    If you would like to reset your password, you can request a reset link by clicking
    <a href="{{ url('password_reset_request') }}">here</a>.
</p>
